.navbar-button {
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-align: center;
  border: 1px solid; /* Add border to all buttons */
}

.navbar-button-light {
  background-color: #ffffff;
  border-color: #000000; /* Black border for light mode */
  color: #000000;
}

.navbar-button-light:hover {
  background-color: #000000; /* Black background on hover */
  color: #ffffff;
}

.navbar-button-dark {
  background-color: transparent;
  border-color: #ffffff; /* White border for dark mode */
  color: #ffffff;
}
.navbar-button-dark:hover {
  background-color: #ed61b5 !important; /* Pink background on hover */
  color: #ffffff !important;
}

.navbar-button-light:hover {
  background-color: #000000 !important; /* Black background on hover */
  color: #ffffff !important;
}

.navbar-button-dark:hover {
  background-color: #ed61b5; /* Pink background on hover */
  color: #ffffff;
}

.toggle-button-light {
  background-color: #fffbfb;
  color: #0a0a0a;
}

.toggle-button-dark {
  background-color: transparent;
  color: #fffafa;
}
