.grid-light {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
                    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Grid background for dark mode */
.grid-dark {
  background-image: linear-gradient(90deg, rgba(237, 97, 181, 0.1) 1px, transparent 1px),
                    linear-gradient(rgba(237, 97, 181, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

section h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

section .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  padding: 1rem;
  overflow: hidden;
}

section .projects .project {
  padding: 2rem 1.8rem;
  background-color: #2b2b2b;
  border-radius: 1.2rem;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

section .projects .project:hover {
  transform: translateY(-5px);
  background-color: var(--pink);
}

section .projects .project header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue);
  margin-bottom: 3.6rem;
}

section .projects .project header .project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section .projects .project header a > img {
  width: 2rem;
}

section .projects .project h3 {
  margin-bottom: 2rem;
}

section .projects .project p {
  letter-spacing: 0.12rem;
  margin-bottom: 2rem;
}

section .projects .project p a {
  color: #fff;
  border-bottom: 1px solid var(--green);
  transition: color 0.25s;
}



section .projects .project footer {
  margin-top: auto;
}

section .projects .project footer .tech-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  opacity: 0.6;
}

@media (max-width: 400px) {
  section .projects {
    grid-template-columns: 2fr 2fr;
  }
}

@media (max-width: 400px) {
  section .projects {
    grid-template-columns: 2fr;
  }
}
.project-item .project-title a {
  text-decoration: none;
}

/* Optional: Add a hover effect */
.project-item .project-title a:hover {
  text-decoration: underline; /* Or any other style you prefer */
}
/* General styles for project items */
.project-item {
  transition: transform 0.5s, background-color 0.5s;
}

/* Dark mode styles */
.project-item.bg-dark {
  background-color: #2b2b2b; /* Default dark background */
  color: #fff; /* Default text color for dark mode */
}

.project-item.bg-dark:hover {
  background-color: #f56b2a; /* Example hover color for dark mode */
  color: #fff; /* Text color on hover */
}

/* Light mode styles */
.project-item.bg-light {
  background-color: #fff; /* Default light background */
  color: #000; /* Default text color for light mode */
}

.project-item.light-mode:hover {
  background-color: black;
  color: white;
}