@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  background-color: #ffffff; /* Light mode background color */
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #111827; 
  color: #fdfdfd; /* Dark mode text color */
}
.navbar-button {
  color: #000000; /* Default text color */
  background-color: transparent; /* Default background color */
  /* border: 2px solid transparent;  */
  font-weight: 370; /* Font weight */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.navbar-button:hover {
  color: #ffffff; /* Text color on hover */
  background-color: #007bff; /* Background color on hover */
  border-color: #007bff; /* Border color on hover */
}

.navbar-button:active {
  background-color: #0056b3; /* Background color on active (click) */
}

.navbar {
  background-color: #ffffff; /* Light mode navbar background */
  color: #000000; /* Light mode navbar text color */
  transition: background-color 0.3s, color 0.3s;
}

.navbar.dark-mode {
  background-color: #fa3192d5; /* Dark mode navbar background */
  color: #e0e0e0; /* Dark mode navbar text color */
}


.banner.dark-mode {
  /* background-color: #1e1e1e;  */
  color: #0a0909; /* Dark mode banner text color */
}