/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Global styles */
body {
  background-color: #ffffff; /* Light mode background color */
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #111827; 
  color: #fdfdfd; /* Dark mode text color */
}

.navbar-button {
  color: #000000; /* Default text color */
  background-color: transparent; /* Default background color */
  /* border: 2px solid transparent;  Remove the border */
  font-weight: 370; /* Font weight */
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none; /* Remove underline */
}

.navbar-button:hover {
  color: #666666; /* Lighter text color on hover in light mode */
  background-color: transparent; /* Background color on hover */
  border-color: transparent; /* No border on hover */
}

.navbar-button:active {
  background-color: #0056b3; /* Background color on active (click) */
}

/* Dark mode styles for navbar-button */
body.dark-mode .navbar-button {
  color: #ffffff; /* Dark mode text color */
}

body.dark-mode .navbar-button:hover {
  color: #cccccc; /* Lighter text color on hover in dark mode */
  background-color: transparent; /* Background color on hover */
  border-color: transparent; /* No border on hover */
}

.navbar {
  background-color: #ffffff; /* Light mode navbar background */
  color: #0c0c0c; /* Light mode navbar text color */
  transition: background-color 0.3s, color 0.3s;
}

.navbar.dark-mode {
  background-color: #111827; /* Dark mode navbar background */
  color: #e0e0e0; /* Dark mode navbar text color */
}

/* Dark mode styles for banner */
.banner.dark-mode {
  background-color: #1e1e1e; /* Optional: Set background color if needed */
  color: #ffffff; /* Dark mode banner text color */
}
